*{
    box-sizing: border-box;
}

.top{
    width:100%;
    height:64px;
    background-color:rgba(255,255,255,0);
    font-size:44px;
    color: #e6e6e6;
    position: fixed;
    z-index: 10;
    transition: all 0.5s;
    border-bottom: solid 1px rgba(60,60,60,0);
    color: #e6e6e6;
}

.topRow{
    position: relative;
}

.top.white{
    background-color:rgba(255,255,255,1);
    border-bottom: solid 1px rgba(60,60,60,0.4);
    color: #126094;
}

.top .logo{
    width: 44px;
    height: 44px;
    margin-top: 9px;
    position: absolute;
}

.top .logoBlue{
    width: 44px;
    height: 44px;
    margin-top: 9px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;

}

.top.white .logoBlue{
    opacity: 1;
}

.top ul{
    font-size: 12px;
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    height: 64px;
    width: 100%;
    text-align: right;
    color: inherit;
}

.top ul li{
    display:inline;
    padding-left: 20px;
    line-height: 63px;
}

.top ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto";
}

.teaser{
    position:relative;
    width: 100%;
    height:100vh;
    transition: height 999999s;
    transition-delay: 999999s;
    background-color: #272727;
    background-image: url("./../img/teaser.jpg");
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.teasermap{
    position:relative;
    width: 100%;
    height:100vh;
    transition: height 999999s;
    transition-delay: 999999s;
    background-color: #272727;
    background-image: url("./../img/flag-switzerland-red-white-brier.jpg");
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.teaseraboutme{
    position:relative;
    width: 100%;
    height:100vh;
    transition: height 999999s;
    transition-delay: 999999s;
    background-color: #272727;
    background-image: url("./../img/8333352869_b208f1f1aa_o.jpg");
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.teasercontact{
    position:relative;
    width: 100%;
    height:100vh;
    transition: height 999999s;
    transition-delay: 999999s;
    background-color: #272727;
    background-image: url("./../img/do11wnload.jpg");
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.teaserdisclaimer{
    position:relative;
    width: 100%;
    height:100vh;
    transition: height 999999s;
    transition-delay: 999999s;
    background-color: #272727;
    background-image: url("./../img/11download.jpg");
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.teaser .blend{
    background-color: rgba(50,50,50,0.4);
    width: 100vw;
    height: 100vh;
    transition: height 999999s;
    transition-delay: 999999s;
}

.slogan{
    position:absolute;
    top:40%;
    line-height: 60px;
    color:rgba(255,255,255,0.9);
    text-align: center;
    font-size: 60px;
    font-family: "Roboto Slab";
}

.map{
    display: block;
}

body{
    width:100%;
    height:100%;
    background-color:#ffffff;
    font-size:16px;
    font-family: Roboto;
    color:#000608;
    padding: 0px;
    margin: 0px;
}

iframe{
    width:100%;
    height:400px;
    background-color:#ffffff;
    font-size:16px;
    color:#000608;
}

h1{
    font-size: 35px;
    font-family: "Roboto Slab";
    color: #303030;
    letter-spacing: 1px;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-family: "Roboto Slab";
    color: #303030;
    letter-spacing: 1px;
    font-weight: bold;
}

h3{
    font-size: 25px;
    font-family: "Roboto Slab";
    color: #303030;
    letter-spacing: 1px;
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-family: "Roboto Slab";
    color: #303030;
    letter-spacing: 1px;
    font-weight: bold;
}

h5{
    font-size: 20px;
    font-family: "Roboto Slab";
    color: #303030;
    letter-spacing: 1px;
}

p{
    font-size: 20px;
}

b{
    font-weight: bold;
}
.description{
    width:100%;
    font-size:16px;
    color: #272727;
    background-color: #ffffff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.description2{
    width:100%;
    font-size:16px;
    color: #272727;
    background-image: url("./../img/20160711_201723.jpg");
    padding-top: 48px;
    padding-bottom: 48px;
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}

.descriptionmap{
    width:100%;
    font-size:16px;
    color: #272727;
    background-image: url("./../img/mapshot.png");
    padding-top: 48px;
    padding-bottom: 48px;
    background-size: cover;
    background-origin: center center;
    background-repeat: no-repeat;
}


.avatar{
    display: block;
    width: auto;
    height: auto;
}

.twitter{
    width:100%;
    font-size:16px;
    color: #272727;
    padding-left:32px;
    padding-right:32px;
    padding-bottom:32px;
    padding-top:16px;
    margin: 0px;
    /*background-color: #ebebeb;*/
}

@media (max-width: 768px) {
    .top, .description {
        padding-left: 7px;
        padding-right: 7px;
    }

    .teaser .slogan {
        font-size: 35px;
        line-height: 37px;
    }
}
